body {
  background-color:#493843;
  color: #CBBFBB;
  font-family: 'Raleway' , sans-serif;
}

h1 {
  font-family: 'Lobster' , cursive;
  font-size: 40px;
}

button {
  font-family: 'Raleway' , sans-serif;
}

.zip {
  height: 40px;
  border-radius: 6px;
}

.price>li {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 5px;
}

.price>li>input {
  visibility: hidden;
}

label {
  cursor: pointer;
}

.display {
    height: 100px
    
}

.btn-primary {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-color: #ef0909;
  font-family: 'Raleway' , sans-serif;
  font-size: 20px;
}

.btn-primary:hover{
  background-color: #ef0909;
}

.center-block {
  float: none;
}























/*#map {
  width: 300px;
  height: 300px;
}*/
